body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-weight:600;
    font-size: 50px;
}
.orenge-clor{
    color: orange;
}
section{
    
}
#top-bannar{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;

}
.link-buttn{
    background:linear-gradient(rgb(253, 165, 2),rgb(163, 107, 2));
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #ffff;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.img-size{
    width: 420px;
}
#middel-bannar{
    background-image: url(././images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
#card{
    display: flex;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
}
.Expriance-area{
    width: 40%;
    margin: 0 5% 0 5%;
    box-shadow: 20px 20px 50px gray;
    padding-left: 20px;
    border-radius: 6px;

}
#full-stack{
    border-left: 8px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1;
    
}
#baby{
    border-left: 8px solid;
    border-image:linear-gradient(orange,tomato);
    border-image-slice:1;

}
h4{
    font-weight: 400;
    text-align: center;
}